.Blog ul {
  text-align: center;
}

.Blog li {
  display: inline-block;
  padding: 0 10px;
}

.Blog a {
  text-decoration: none;
  color: rgb(219, 125, 62);
  font-size: 18px;
  font-weight: 600;
}

.Blog a.active {
  color: rgb(18, 119, 80);
}
